body{
	margin:0px;
	padding:0px;
	background-color:#1C1C1C;
}
.footerWraper{
	width:100%;
	padding:0px;
	margin:0px;
	position:absolute;
	bottom:0;
}
.frame1{
	background-color:#505050;
	width:25%;
	padding:10px;
	color:white;
	font-family:calibri;
	text-align:center;
}
.frame2{
	background-color:#CCCCCC;
	width:25%;
	padding:10px;
	font-family:calibri;
}
.frame3{
	background-color:red;
	width:25%;
	padding:10px;
	background-color:#505050;
	color:white;	
}
.frame4{
	background-color:white;
	width:25%;
	padding:10px;
	font-family:calibri;
	background-color:#CCCCCC;
}
table ul li a{
	text-decoration:none;
	text-align:center;
}
.def{
	color:white;
}